%ul#tasks

%ul#board

%footer
  %a{href: "http://www.hackster.io/hackthehouse/wgheld", target: "_blank"}
    WGHeld - a HackTheHouse.io Project - 2015

  %a{href: "/?reload"}
    enable autoreload



