%header.blue
  %section.todo.red

  %section.progress.blue

  %section.unclaimed.green

%ul#board

%footer
  %a{href: "http://www.hackster.io/hackthehouse/wgheld"}
    WGHeld - a HackTheHouse.io Project
