%header#tasks
  %section.todo

  %section.progress

  %section.unclaimed

%ul#board

%footer
  %a{href: "http://www.hackster.io/hackthehouse/wgheld", target: "_blank"}
    WGHeld - a HackTheHouse.io Project - 2015

