<li class="<%= task.get('css') %>">
  <span class="img"><img src="<%= task.get('image') %>"></span>
  <span class="name"><%= task.get('description') %></span>
  <span class="points">Expected: <%= task.get('expected_points') %> pts.</span>
</li>
