<li class="<%= task.get('css') %>">
  <img src="https://avatars0.githubusercontent.com/u/11243531?v=3&s=100">
  <span class="name"><%= task.get('name') %></span>
  <span class="points"><%= task.get('expected_points') %> pts.</span>
</li>
