/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@mixin flexbox-display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexbox($cmd, $direction) {
  -webkit-box-#{$cmd}: $direction;
  -moz-box-#{$cmd}: $direction;
  -webkit-#{$cmd}: $direction;
  -ms-flex-#{$cmd}: $direction;
  #{$cmd}: $direction;
}

html, body, * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, main {
  height: 100%;
  min-height: 100%;
}

main, #tasks {
  @include flexbox-display-flex;
  @include flexbox(flex-direction, column);
}

li  {
  @include flexbox-display-flex;
  @include flexbox(flex, 1);
  @include flexbox(flex-direction, row);
  @include flexbox(justify-content, space-around);
  border-bottom: 2px solid #999;

  .img {
    @include flexbox(align-self, center);
    @include flexbox(flex, 2);
    text-align: center;
  }

  img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    // box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    // -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    // -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }

  .name {
    @include flexbox(flex, 5);
    @include flexbox(align-self, center);
    font-size: 35px;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: bold;
    color: #111;
  }

  .points {
    @include flexbox(flex, 4);
    @include flexbox(align-self, center);
    font-size: 30px;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: bold;
    color: #222;
  }
}

#tasks {
  border-bottom: 2px solid #999;

  li  {
    // min-height: 75px;
    // height: 75px;

    &.todo {
      background-color: #ff3824;
    }
    &.running {
      background-color: #ff9600;
    }
    &.unclaimed {
      background-color: #44db5e;
    }
  }
}

#board {
  @include flexbox-display-flex;
  @include flexbox(flex, 1);
  @include flexbox(flex-direction, column);

  li {
    &.tobi {
      background-color: #5751d9;
       // #2980b9;
    }
    &.roby {
      background-color: #0076ff;
      // #e67e22;
    }
    &.clemens {
      background-color: #2aa9de;
      //#9b59b6;
    }
    &.christoph {
      background-color: #54c7fc;
      // #f39c12;
    }
  }
}

footer {
  padding: 5px;
  text-align: center;

  a {
    font-size: 12px;
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    font-weight: 400;
    color: #999;

    &:visited {
      color: #AAA;
    }

    &:hover {
      color: #000;
    }
  }
}

.red   { background: red; }
.blue  { background: blue; }
.green { background: green; }
